/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.root{
	backgroundColor: #202020;
	textColor: #FFFFFF;
	controllerNeutralColor: #303030;
	controllerSelectedColor: #808080;
	controllerHoverColor: #0096C9;
	workspaceColor: #808080;
	
    -fx-base: backgroundColor;
}

.progress-bar{
	-fx-accent: green;
}